@charset "utf-8";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCQYbw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* { box-sizing: border-box; }

::selection {
  color: #c66;
  background: rgba(0, 0, 0, 0.1);
}

html { font-size: 16px; }

body {
  margin: 0;
  color: #444;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

a {
  color: #06c;
  text-decoration: none;
}
a:visited { color: #369; }

header { margin: 4rem auto; }
header h1 { font-family: "Roboto", sans-serif; }

th, td {
  padding: 0.5rem 1rem;
  text-align: left;
}

footer { margin: 2rem auto; }
